body {
    background-color: bisque;
  }
  
.contact_form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: black;
    border-radius: 0 !important;
    border: 1px solid #ced4da;
    text-align: left;
    font-size: 1rem;
}

.contact_form input.form-control {
    margin-bottom: 2em;
    height: calc(2.5em + .75em + 2px);
}

